.list-card__label {
    position: relative;

    font-size: 21px;
    line-height: 1.3;
}

.list-card__label::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: rgb(66, 66, 66);
    bottom: -11px;
    left: 50px;
}